In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"A": [1, 2]})

In [3]:
df

   A
0  1
1  2

In [4]:
df.flags.allows_duplicate_labels

True

In [5]:
df2 = df.set_flags(allows_duplicate_labels=False)

In [6]:
df2

   A
0  1
1  2

In [7]:
df2.flags.allows_duplicate_labels

False